@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  /* hoverlink.tsx */
  .hoverlink {
    @apply text-blue-500 font-mono ml-5; /* Default color */
  }

  .hoverlink:hover {
    @apply underline font-bold; /* Hover color */
  }

  .navContainer {
    @apply flex flex-col;
  }

  .nav {
    @apply mt-5 mr-[25%] float-right;
  }

  /* searchbox.tsx */
  .searchWrapper {
    @apply mt-[10%] w-fit mx-auto;
  }

  .searchInput {
    @apply font-mono p-4 rounded-tl rounded-bl w-96;
  }

  .searchButton {
    @apply font-mono p-4 border rounded-tr rounded-br text-center text-white;
  }

  .signup-form {
    @apply mt-[8%] w-fit mx-auto block;
  }

  .signup-header {
    @apply font-bold text-3xl mb-8 text-center;
  }

  .form-group {
    @apply mb-5;
  }

  .signup-input {
    @apply w-full;
  }

  .signup-label {
    @apply text-cyan-900 ml-5 font-bold  text-right;
  }

  .signup-error-msg {
    @apply absolute;
  }

  .signup-submit-button {
    @apply border rounded-md pt-3 pb-3 pl-2 pr-2  font-bold w-full;
  }

  h1,
  button,
  p {
    @apply text-cyan-900;
  }
}
